<h2>User Info</h2>

<%= image_tag user.get_profile_image(100, 100), class: "img-fluid img-profile rounded-circle mx-auto mb-2" %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Faculty</th>
      <th><%= user.faculty %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_7304" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>