<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>My Page</h1>

<%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle border border-5" %>
<%= @user.name %>
<%= @user.faculty %>

<%= link_to "プロフィール編集", edit_user_path %>
