<h1>本編集</h1>

<%= form_with model: @book do |f| %>
  <p>BookTitle</p>
  <%= f.text_field :title, autofocus: true, id: "inputBookTitle", placeholder: "本のタイトル" %>
  <br>

  <%= f.submit "変更を保存" %>
<% end %>
